
<ul class="dropdown open" style="background-color: white; position: absolute; top: 25px; right: -75px;">
	Menu 
		<ul class="list-unstyled">
			<li {{action "hideColumn"}}>Archive</li>
		</ul>
	
</ul>